.button {
  background-color: var(--color-green);
  text-transform: capitalize;
  padding: 5px;
  color: var(--color-white);
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-dark-green);
}
